[user]
name = "Yves Ineichen"
email = "iff@yvesineichen.com"

[aliases]
ba = ["bookmark", "list", "-a"]
f = ["git", "fetch"]
pu = ["git", "push"]
ed = ["edit"]
dlog = ["log", "-r"]
l = ["log", "-r", "(trunk()..@):: | (trunk()..@)-"]
tug = [
    "bookmark",
    "move",
    "--from",
    "closest_bookmark(@)",
    "--to",
    "closest_pushable(@)",
]
lsd = [
    "log",
    "-r",
    "::@ & (bookmarks() | remote_bookmarks())",
    "--no-graph",
    "-T",
    'bookmarks ++ " " ++ remote_bookmarks ++ "\n"',
]
lg = ["log", "-r", "bookmarks() | fork_point(bookmarks())"]
dm = ["diff", "--from", "main", "--to", "@", "--"]

[revset-aliases]
"closest_bookmark(to)" = "heads(::to & bookmarks())"
"closest_pushable(to)" = "heads(::to & mutable() & ~description(exact:\"\") & (~empty() | merges()))"
"desc(x)" = "description(x)"
"pending()" = ".. ~ ::tags() ~ ::remote_bookmarks() ~ @"

[git]
write-change-id-header = true
